* {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
}

.menu {
    background-color: navy;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5%;
}

.menu .log {
    color: rgb(204, 75, 75);
    font-size: 30px;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li {
    position: relative;
    padding-right: 20px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s;
}

.menu ul li a:hover {
    color: aqua;
    
}

.menu ul li a .icon {
    display: none;
} 

.menu ul li a .icon {
    
}

.menu ul li .dropdown{
    display: none;
} 

.menu ul li:hover .dropdown {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
}

.menu ul li:hover .dropdown ul {
    display: block;
    margin: 10px ;
}

.menu ul li:hover .dropdown ul li {
    width: 150px;
    padding: 10px;
}

i {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}



.Home-page {
    height: 580px;
    align-items: center;
    background-color: brown;
}

.Home-page .container {
    max-width: 600px;
    margin: auto;
    padding-top: 120px;
}

.Home-page .inner {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Home-page .inner img {
    display: block;
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.home-section-intro {
    font-size: 11px;
    filter: opacity(.9);
}

.Home-page .inner h1 {
    display: block;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

.Home-page .inner p {
    display: block;
    font-size: 20px;
}

.Home-page .inner .but button {
    box-sizing: border-box;
    scroll-behavior: smooth;
    border-radius: 30px;
    width: 120px;
    height: 35px;
    background-color: blanchedalmond;
}

.about-page {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        position: relative;  
}

.about-page .about {
    max-width: 600px;
}


.about-page .image img {
    width: 300px;
    height: 300px;
}



/*Start of design for mobile phone*/
@media screen and (min-width: 900px) {
    
    .menu ul li a .icon {
        display: flex;
    }

    .menu ul li a .other {
        display: none;
    }
}